*_GitIgnore.*
**/*_GitIgnore/*
diary*
*.mat
*.png
*.asv
*.jpg
*.bmp
*.log
*.mp4
*.gif
*.docx
*.pptx
*.tiff
*.zip
*.pdf
*.orig
*-checkpoint.ipynb
*.lyx~
*.pyc
*.png
*.tif
.bash_history
*.condarc
*.gitconfig
*.viminfo
# ignore folders as follows:
# some_folder_name/
__pycache__/
.anaconda/
.config/
.ssh/
.idea/
.Lib/
proto/venv/Lib/
proto/venv/Scripts/
.Scripts/
.ipynb_checkpoints/
